.content {
    min-height: 60vh;
}

body {
    background: #141e30; /* fallback for old browsers */
    background: -webkit-linear-gradient(
        to right,
        #243b55,
        #141e30
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
        to right,
        #243b55,
        #141e30
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

p {
    font-size: 1rem;
}

a {
    color: inherit;
}
a:hover {
    color: inherit;
    text-decoration: inherit;
}

ul {
    list-style-type: square;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

@media only screen and (max-width: 600px) {
    p {
        font-size: 0.9rem;
    }
}

@media only screen and (min-width: 601px) {
}

@media only screen and (min-width: 750px) {
}

@media only screen and (min-width: 850px) {
}
