.header {
    color: white;
    font-family: 'Courier New', Courier, monospace; 
}

.links {
    float: right;
    margin: 0 10% 0 0;
}

.github_profile {
    display: inline-block;
    vertical-align: top;
    margin: 0 10px 0 0;
}

.linkedin_portfolio {
   display: inline-block;
}

.linkedin_logo {
    display: inline-block;
    height: 30px;
    width: 30px;
    background-image: url('../images/linkedin.jpg');
    background-position: center;
    background-size: cover;
}

.line_break {
    border: 1px dotted white;
    width: 80%;
    margin: 0 0 0 10%;
    clear: both;
}

.email {
    float: right;
    margin: 5px 10px 0 0;
}

.resume {
    float: right;
    margin: 5px 10% 0 0;
}

.email:hover, .resume:hover {
    outline: 0;
    color: white;
    text-shadow: 1px 1px grey;
    border-bottom: 1px dotted white;
}

@media only screen and (max-width: 700px) {
 
    .my_name {
        font-size: 26px;
        margin: 80px 0 0 10%;
    }
    .subtext {
        font-size: 18px;
        margin: 0 0 0 10%;
        display: inline-block;
    }
}

@media only screen and (min-width: 700px) {
    .my_name {
        /* display: inline; */
        margin: 80px 0 0 10%;
    }
    .subtext {
        /* display: inline; */
        margin: 0 0 0 10%;
        display: inline-block;
    }
}

