.modal {
    position: fixed;
    display: block;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 2;
    overflow-y: auto;
    /* background-color: rgba(128, 128, 128, 0.5); */
}


.modal_background {
    min-height: 100vh;
    width: 100%;
    background-color: rgba(128, 128, 128, 0.5);
    clear: both;
}

.modal_body {
    position: absolute;

    overflow-y: initial !important;

    left: 0;
    top: 0;
    height: auto;
    min-height: 80%;
    width: 60%;
    background: #0f2027; /* fallback for old browsers */
    background: -webkit-linear-gradient(
        to right,
        #2c5364,
        #203a43,
        #0f2027
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
        to right,
        #2c5364,
        #203a43,
        #0f2027
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    margin: 10% 0 10% 20%;
}

.modal_desktop_image {
    width: 110%;
    height: 30vw;
    padding: 8px 5px 10px 5px;
    background-color: black;
    border-radius: 5px;
    margin: -10px 0 0 -5%;
}

.modal_project_image {
    height: 100%;
    width: 100%;
    background-position: top, top;
    background-size: 100% auto;
    background-repeat: no-repeat;
}

.modal_name {
    font-family: 'Courier New', Courier, monospace;
    color: white;
    font-size: 18px;
}


@media only screen and (max-width: 600px) {

    .modal_body {
        position: absolute;
        left: 0;
        top: 0;
        height: auto;
        min-height: 80%;
        width: 90%;
        margin: 10% 0 0 5%;
        background: #0f2027; /* fallback for old browsers */
        background: -webkit-linear-gradient(
            to right,
            #2c5364,
            #203a43,
            #0f2027
        ); /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(
            to right,
            #2c5364,
            #203a43,
            #0f2027
        ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
    }

    .modal_desktop_image {
        width: 100%;
        height: 50vw;
        padding: 8px 5px 10px 5px;
        background-color: black;
        border-radius: 5px;
        margin: 0;
    }

}


/* Fade in animation */
@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-moz-keyframes fadein {
    /* Firefox */
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-webkit-keyframes fadein {
    /* Safari and Chrome */
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-o-keyframes fadein {
    /* Opera */
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Fade out animation */
@keyframes fadeout {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@-moz-keyframes fadeout {
    /* Firefox */
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@-webkit-keyframes fadeout {
    /* Safari and Chrome */
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@-o-keyframes fadeout {
    /* Opera */
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}
