.primaryDetail {
    color: white;
    display: inline-block;
    font-family: 'Courier New', Courier, monospace;
    height: 100%;
    margin: 0 0 0 5rem;
    padding: 0 1rem;
    vertical-align: top;
    width: 40%;
}

.primaryName {
    border-bottom: 0.5px dotted white;
    font-size: 1.4rem;
    width: 20%;
}

.primarySubtext {
    font-size: 1.1rem;
    margin: 0 0 1rem 1rem;
}

.styledLink {
    font-weight: bold;
}

@media only screen and (max-width: 747px) {
    .primaryDetail {
        width: 100%;
        margin: 0;
    }
    .primaryName {
        font-size: 1.2rem;
    }
    .primarySubtext {
        font-size: 1rem;
        margin: 0 0 0.5rem 0.5rem;
    }
}
