.project {
    width: 100%;
    margin: 10px 0 20px 0;
}

.desktop_image {
    height: 100%;
    width: 100%;
    padding: 8px 5px 10px 5px;
    background-color: black;
    border-radius: 5px;
    margin: 0 0 20px 0;
}

.project_image {
    display: inline-block;
    vertical-align: top;    
    height: 100%;
    width: 100%;
    background-position: top, top;
    background-size: 100% auto;
    background-repeat: no-repeat;
}

.phone_container {
    padding: 10% 0 0 75%;
}

.github, .visit {
    display: inline-block;
    width: 40%;
    color: white;
    font-family: 'Courier New', Courier, monospace; 
    transition: font-size .25s;
    -webkit-transition: font-size .25s;

    vertical-align: middle;
    background-color: black;
    border-radius: 20px;
    text-align: center;
    padding: 2px;
    margin: 10px 0 0 5%;

    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently */
}

.github:hover, .visit:hover {
    font-size: 18px;
    background-color: rgb(27, 27, 27); 
    cursor: pointer;
}

.git_link, .site_link {
    display: inline-block;
    vertical-align: middle;
    margin-left: 10%;
}

.git_logo {
    display: inline-block;
    vertical-align: middle;
    height: 30px;
    width: 30px;
    background-image: url('../images/github.png');
    background-position: center;
    background-size: cover;
}

.link_logo {
    display: inline-block;
    vertical-align: middle;
    height: 30px;
    width: 30px;
    background-image: url('../images/link.png');
    background-position: center;
    background-size: cover;
}