.sub_title {
    color: white;
    display: inline-block;
    font-family: 'Courier New', Courier, monospace;
    font-size: 18px;
    margin: 0 0 0 5%;
    border-bottom: 1px dotted white;
}

.switcher {
    margin: 0 0 0 35%;
    width: 30%;
}

.all_button,
.featured_button {
    display: inline-block;
    width: 50%;
    font-size: 16px;
    height: 28px;
    overflow: hidden;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    transition: font-size 0.25s;
    -webkit-transition: font-size 0.25s;

    background-color: black;
    text-align: center;
    padding: 2px;

    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently */
}

.all_button:hover,
.featured_button:hover {
    font-size: 18px;
    background-color: rgb(27, 27, 27);
    cursor: pointer;
}

.featured_button {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-right: 1px dotted white;
}

.all_button {
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.project_container {
    animation: fadein 1.5s;
    -moz-animation: fadein 1.5s; /* Firefox */
    -webkit-animation: fadein 1.5s; /* Safari and Chrome */
    -o-animation: fadein 1.5s; /* Opera */
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-moz-keyframes fadein {
    /* Firefox */
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-webkit-keyframes fadein {
    /* Safari and Chrome */
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-o-keyframes fadein {
    /* Opera */
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@media only screen and (max-width: 600px) {
    .project_container {
        width: 85%;
        display: block;
        margin: 0 7.5% 0 7%;
    }
    .switcher {
        width: 70%;
        margin: 0 0 0 15%;
    }
}

@media only screen and (min-width: 601px) {
    .project_container {
        width: 70%;
        display: block;
        margin: 0 15% 0 15%;
    }
}

@media only screen and (min-width: 750px) {
    .sub_title {
        display: block;
        width: 20%;
    }

    .project_container {
        width: 40vw;
        display: inline-block;
        margin: 0 2.5% 0 5%;
    }
}

@media only screen and (min-width: 850px) {
    .sub_title {
        display: block;
        width: 20%;
        margin: 0 0 0 10%;
    }

    .project_container {
        width: 35vw;
        display: inline-block;
        margin: 0 -2% 0 10%;
    }
}
