body {
    background-image: url('../images/grid_background.png');
    background-size: cover;
    background-position: center;
}

@media only screen and (max-width: 700px) {
    .sub_title {
        color: white;
        font-family: 'Courier New', Courier, monospace;
        font-size: 18px;
    }
    
    .left {
        display: block;
        width: 90%;
        margin: 0 0 0 5%;
    }
    
    .right {
        display: inline-block;
        width: 90%;
        margin: 0 0 0 5%;
    }
}

@media only screen and (min-width: 700px) {
    .sub_title {
        color: white;
        font-family: 'Courier New', Courier, monospace;
        font-size: 18px;
    }

    .left {
        display: inline-block;
        width: 40%;
        margin: 0 0 0 7.5%;
    }
    
    .right {
        display: inline-block;
        width: 40%;
        margin: 0 0 0 5%;
    }


}

